<div>
    <div class="button-container">
        <p-button label="Створити" (onClick)="createProduct()"></p-button>
    </div>

    <div class="card">
        <p-table [value]="products" [tableStyle]="{ 'min-width': '50rem' }" editMode="row" dataKey="id">
            <ng-template pTemplate="header">
                <tr>
                    <th style="width:20%">Назва</th>
                    <th style="width:20%">Тип</th>
                    <th style="width:20%">Ціна</th>
                    <th style="width:20%">Каллорії</th>
                    <th style="width:20%"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-product let-editing="editing" let-ri="rowIndex">
                <tr [pEditableRow]="product">
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.name">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.name}}
                            </ng-template>
                        </p-cellEditor>
                    </td>

                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <p-dropdown [options]="types" appendTo="body" [(ngModel)]="product.type" [style]="{'width':'100%'}"></p-dropdown>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.type}}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.cost" required>
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.cost|currency:"UAH":"symbol-narrow"}}
                              
                            </ng-template>
                        </p-cellEditor>
                    </td>
                 
                    <td>
                        <p-cellEditor>
                            <ng-template pTemplate="input">
                                <input pInputText type="text" [(ngModel)]="product.calories">
                            </ng-template>
                            <ng-template pTemplate="output">
                                {{product.calories }}
                            </ng-template>
                        </p-cellEditor>
                    </td>
                    <td>
                        <div class="flex align-items-center justify-content-center gap-2">
                            <button *ngIf="!editing" pButton pRipple type="button" pInitEditableRow icon="pi pi-pencil" (click)="onRowEditInit(product)" class="p-button-rounded p-button-text"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pSaveEditableRow icon="pi pi-check" (click)="onRowEditSave(product)" class="p-button-rounded p-button-text p-button-success mr-2"></button>
                            <button *ngIf="editing" pButton pRipple type="button" pCancelEditableRow icon="pi pi-times" (click)="onRowEditCancel(product, ri)" class="p-button-rounded p-button-text p-button-danger"></button>
                        </div>
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>